/* body{
    color: coral;
} */

#1{
    font: size 90px;
    color: brown;
}
    

.ravan{
    background-color: blue;
}

.kumar{
    text-decoration: underline;
}

/* this is comments */